html {
    background-color: white;
}

body {border: solid black 0.5px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    color: black;
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 150px;
    max-width: 1000px;
    max-height: 0px
    padding: 3em 3em 3em;
    width: 200%
    
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 9000;
    line-height: 1.2;
    margin: 32px;
    
}
input {line-height: 1.4; padding-left: 10px; font-family: 'Montserrat';font-weight: 900; font-size: 55px; border: 1px solid black; border-radius: 15px; box-shadow: 0 0 18px rgba(0,0,0,0.5); margin: 32px;margin-top: 0px;margin-bottom: 90px;}

button {font-size: 60px; color: black; background-color: white; border: 1px solid black; border-radius: 15px;box-shadow: 0 0 18px rgba(0,0,0,0.4); line-height: ; margin: 32px; margin-right: 250px;padding: 8px}

.T2 {font-size: 55px; font-weight: 900; background-color: bisque; border-radius: 15px; color: black; padding-left: 13px; border: 3px solid black; box-shadow: 0 0 18px rgba(0,0,0,0.4);margin: 25px; padding-right: 0px; margin-right: 0px;margin-top: 0px;width: 300px;margin-left: 30px}

input:focus {border: 1px solid black; ; border-radius: 15px; box-shadow: 0 0 30px rgba(0,0,0,1.5);}
button:focus {border: 1px solid black; ; border-radius: 15px; box-shadow: 0 0 10px rgba(0,0,0,1.5); }

.buttonmin,.buttonsec {font-size: 50px; color: black; background-color: white; border: 1px solid black; border-radius: 15px;box-shadow: 0 0 18px rgba(0,0,0,0.4); margin: 0px; margin-right: 0px; padding-bottom: 6px; padding-top: 14px; padding-left: 10px; padding-right: 10px}

.menu {margin-top: 20px; margin-bottom: 100px; padding-bottom: 5px; padding-top: 5px; padding-left: 10px; padding-right: 55%}

.part2desc, .part1desc {margin-bottom: 80px;}

.S1desc,.T1desc,.F1desc,.S2desc,.F2desc,.resultdesc {margin-bottom: 15px}

.backtoprog {margin-top: 20px; margin-bottom: 100px; padding-bottom: 5px; padding-top: 5px; padding-left: 0px; padding-right: 10px;width: 931px;}

.langbutton {margin-left: px}
