html {
    background: #696969;
}

body {border: solid black 2px;
    background: lightgrey;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Tahoma, Arial, sans-serif;
    font-size: 16px;
    line-height: 2.5;
    margin: 0 auto;
    max-width: 700px;
    padding: 2em 2em 2em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 300;
    line-height: 0.5;
    font-style: normal;
    
}
input {line-height: 1;font-family: monospace ; font-size: 45px;border: 2px solid black; border-radius: 15px;}

button {font-size: 55px;color: #2F4F4F; background-color: #FFF0F5; border: 2px solid black; border-radius: 15px;}

.T2 {font-size: 60px}

h2 {
    margin-top: 1.3em;
}
