html {
    background-color: azure;
}

body {border: solid black 0.5px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    color: #545454;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 900;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 850px;
    padding: 2em 2em 2em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 9000;
    line-height: 1.2;
    
}
input {line-height: 1.4; padding-left: 10px; font-family: 'Montserrat';font-weight: 900; font-size: 45px; border: 1px solid black; border-radius: 15px; box-shadow: 0 0 18px rgba(0,0,0,0.5);}

button {font-size: 55px; color: black; background-color: white; border: 1px solid black; border-radius: 15px;box-shadow: 0 0 18px rgba(0,0,0,0.4);}

.T2 {font-size: 90px; font-weight: 900; background-color: grey; border-radius: 15px; color: aliceblue; padding-left: 13px; border: 3px solid black; box-shadow: 0 0 18px rgba(0,0,0,0.4);}

input:focus {border: 1px solid black; ; border-radius: 15px; box-shadow: 0 0 30px rgba(0,0,0,1.5);}

h2 {
    margin-top: 1em;
}
